<h1>Currency Converter API</h1>
<br />
<br />
<h2>Task 1</h2>
<br />
<button onclick="window.location.href='/Home/GetData'">Display API default Data</button>
<br />
<br />
<br />
<br />
<h2>Task 2</h2>
<br />
<form action="/Home/GetTargetData">
    <label for="fname">Target:</label><br>
    <input type="text" id="Target" name="Target" value=""><br>
    <input type="submit" value="Submit">
</form>
<br />
<br />
<br />
<br />
<h2>Task 3</h2>
<br />
<form action="/Home/GetConvertData">
    <label for="fname">From:</label><br>
    <input type="text" id="from" name="from" value=""><br>
    <label for="fname">To:</label><br>
    <input type="text" id="to" name="to" value=""><br>
    <label for="fname">Amount:</label><br>
    <input type="text" id="amount" name="amount" value=""><br>
    <input type="submit" value="Submit">
</form>
<br />
<br />
<br />
<br />
<h2>Task 4</h2>
<br />
<form action="/Home/GetConvertDate">   
    <label for="fname">Days:</label><br>
    <input type="text" id="date" name="date" value=""><br>
    <input type="submit" value="Submit">
</form>


